/* .cards-container {
    align-items: center;
    margin: 2px;
    padding: 2px;
} */

.cards-container {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.large {
 flex-wrap: wrap;
}

.product-title {
    font-size: 18px !important;
}

.loading-gif {
    margin-right: auto;
    margin-left: auto;
}

@media(max-width: 500px) {

.cards-container-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}
}