.ManageOrders {
    margin-top: 15px;
}

.orders-table {
    margin: 20px;
}

.ManageOrders-back-button {
    width: 50px;
    align-self: center;
}

.controllers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#Customer-content {
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 150px;
    border: 1px black solid;
    border-radius: 5px;
}

#Date-content {
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 150px;
    border: 1px black solid;
    border-radius: 5px;
}

#Status-content {
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 150px;
    border: 1px black solid;
    border-radius: 5px;
}