* {
  --white-color: white;
  --black-color: black;
  --blue-color: #0d6efd;
  --darkGray-color: #6c757d;
  --indigo-color: #4B0082;
  --whiteGray-color: #DCDCDC;
  --red-color: red;
  --red-salmon-color: #FA8076;;
  --green-color: green;
  --none-color: none;
  border: none;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.375rem;
  border: none;
  border-radius: 0.375rem;
  text-align: center;
}

.button--primary {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.button--whiteGray {
    background-color: var(--whiteGray-color);
    color: var(--black-color);
}

.button--indigo {
    background-color: var(--indigo-color);
    color: var(--white-color);
}

.button--salmon {
    background-color: var(--red-salmon-color);
    color: var(--white-color);
}

.button--none {
    background-color: var(--none-color);
    color: var(--blue-color);
}

.button--close {
    background-color: var(--darkGray-color);
    color: var(--white-color);
}

.user-popover-button {
  font-size: 16px;
  width: 90%;
  margin-top: 5px;
}

.user-popover-button:hover {
  background-color: #0a58ca;
}

.user-modal-button {
  font-size: 13px;
}

.marginTop {
  margin-top: 10px;
}

.circle-button {
  border-radius: 50% !important;
  width: 30px;
}

.show-cart-button {
  width: 100%;
}