* { box-sizing: border-box; }

#main  {
  width: 96%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 20px;
  text-align: center;
  display: inline-flex;
  gap: 15px;
}