table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.product-title-td {
  text-align: left;
}

.table-bottom {
  font-weight: bold;
  background-color: #dddddd;
}

.delete-product-order-icon {
  padding: 0px;
}

.plus-table-span {
  cursor: pointer;
  background-color: #0d6efd;
  border-radius: 50%;
  padding: 6px;
  color: #ffff;
}

.minus-table-span {
  cursor: pointer;
  background-color: #0d6efd;
  border-radius: 50%;
  padding: 6px;
  color: #ffff;
}