.OrderPage {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-page-buttons {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-button {
    width: 20px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.my-orders-icon {
    margin-right: 8px;
}