table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th, td {
  text-align: center;
}

.row-data {
    cursor: pointer;
}

.row-data:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* background-color: aqua; */
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */