.pagination {
  overflow-x: auto;
  display: flex;
}

.pagination a {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.page-link-active {
    background-color: lightblue;
}