.cartPage-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cartPage-product-card {
  flex-basis: 32.333333%;
  height: 350px !important;
  justify-content: center;
  margin: 5px;
  width: 90% !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem; 
}

.cartPage-product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.checkout-div {
  padding-top: 15px;
}

.order-div {
    margin: 15px;
    padding: 10px;
    box-shadow: 1px 1px;
    border: 1px solid;
    justify-content: space-between;
}

.order-paragraphs {
  place-self: center;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.order-details {
      display: flex;
      flex-direction: row;
    justify-content: center;
    gap: 40px;
}

@media(max-width: 600px) {
.item-quantity-h5 {
  margin: auto;
}

.pay-paragraphs {
  padding-top: 4px;
}
}