*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myPopover{
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    width: 150px;
    font-weight: normal;
    visibility: visible;
    display: grid;
    place-items: center;
    background: #f5f5f5;
    right: 10px;
    height: auto;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
    transform: translate3d(0, 20px, 0);
    z-index: 1;
    transition: .5s;
}

.myPopover::before{
    width: 150px;
    position: absolute;
    display: grid;
    place-items: center;
    background: #f5f5f5;
    right: 10px;
    height: auto;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
}

.myPopover:hover{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: .5s;
}

h1 {
    font-size: 28px;
    color: #000;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.span {
    width: 100%;
    margin: 0;
}

.span button {
    border: none;
    width: 100%;
    margin: 0;
}

.span button:hover {
    /* background-color: #555; */
}

.wrapper:hover .content {visibility: visible;}

.content {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* visibility: hidden; */
    background-color: white;
    border: 1px solid #ccc !important;
    color: #000;
    right:13%;
    padding: 10px;
    border-radius: 10px;
    margin-top: -1px;
    width: 160px;
}

.popover-body{
    border-top-width: 90%;
    border-top: 0.1px solid #ccc !important;
    /* border-top: 0.1px solid; */
}

.logo {
    width: 22px
}

.popover-li:hover {
        background-color: #A9A9A9 !important;
}