.ManageProducts {
    margin-top: 15px;
}

.products-table {
    margin: 20px;
}

#Category-popover-icon {
    width: 15px;
    cursor: pointer;
    border: 1px black solid;
}

#Title-expand-icon {
    width: 15px;
    cursor: pointer;
    border: 1px black solid;
}

.Category-th {
    width: 130px
}

#Category-th {
    gap: 6px;
    display: flex;
    justify-content: center;
}

.expand-icon:hover .content {
    visibility: visible;
}

ul {
    padding: 0px;
    margin: 0;
}

ul > li {
    list-style: none;
}

ul > li:hover {
    cursor: pointer;
    background-color: #D0D0D0;
}

/* .user-popover-ul {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
} */

.user-popover-li:hover {
    background-color: white !important;
    cursor: pointer;
}

.user-popover-li {
    margin-top: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 147px;
    gap: 3px;
}
