table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.product-title-td {
  text-align: left;
}

.table-bottom {
  font-weight: bold;
  background-color: #dddddd;
}