*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myPopover{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    width: 150px;
    font-weight: normal;
    visibility: visible;
    /* display: grid; */
    place-items: center;
    background: #f5f5f5;
    right: 10px;
    height: auto;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
    transform: translate3d(0, 20px, 0);
    z-index: 1;
    transition: .5s;
}

.myPopover::before{
    width: 150px;
    position: absolute;
    display: grid;
    place-items: center;
    background: #f5f5f5;
    right: 10px;
    height: auto;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
}

.myPopover:hover{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: .5s;
}

h1 {
    font-size: 28px;
    color: #000;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.span {
    width: 100%;
    margin: 0;
}

.span button {
    border: none;
    width: 100%;
    margin: 0;
}

.wrapper:hover .user-content {visibility: visible;}
.wrapper:hover .cart-content {visibility: visible;}
.wrapper-user:hover .user-content {visibility: visible;}
/* .wrapper-user:hover .content {visibility: visible;} */

.wrapper {
    margin: 0px 0px 0px 0px;
    padding-right: 0.4rem;
}

.cart-content {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc !important;
    color: #000;
    right:1%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    width: 160px;
}

.user-content {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc !important;
    color: #000;
    right:1%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    width: 160px;
}

.popover-body{
    border-top-width: 90%;
    border-top: 0.1px solid #ccc !important;
}

.logo {
    width: 22px
}

.popover-li:hover {
    background-color: white !important;
    cursor: pointer;
}

.keep-show-modal{
    visibility: visible;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 2px 4px;
    vertical-align: top;
    margin-right: -10px; 
}

.cart-content {
    width: 270px;
}